<div class="container">
  <div class="row" style="background-color: black; margin-bottom: 50px;">
    <div class="col-sm-12">
      <h3 style="color: white;">HackersPlatform</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;" style="background-color: wheat;">
    <div class="col-sm-6 offset-sm-3">
      <h5 style="margin-left: 40px; margin-bottom: 50px; margin-top: 30px;">
        Welcome <span *ngIf="isAdmin">Admin</span>
      </h5>
      <div style="margin: 50px;" *ngIf="!isAdmin">
        <div class="form-group">
          <label for="email">Email address</label>

          <input
            type="email"
            name="email"
            #ema="ngModel"
            id="email"
            [(ngModel)]="emailId"
            class="form-control"
          />
        </div>
      </div>

      <div style="margin-left: 50px; margin-bottom: 20px;">
        <div class="form-group">
          <label for="password">Password</label>

          <input
            type="password"
            name="password"
            #ema="ngModel"
            id="password"
            [(ngModel)]="password"
            class="form-control"
          />
        </div>
        <div class="alert alert-info" *ngIf="isAdmin">
          admin password 12345678 (for reference)
        </div>
      </div>

      <div style="margin-left: 50px; margin-bottom: 20px; margin-top: 40px;">
        <button (click)="login()" class="btn btn-success">Login</button>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="msg">{{ msg }}</div>
</div>
