<div *ngIf="skills == undefined || skills.length == 0">
  No Course
</div>
<div *ngIf="skills != undefined && skills.length != 0">
  <ul class="list-group">
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <h5>Course</h5>
      <span class="badge badge-primary badge-pill">Rating</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let skill of skills"
    >
      <h5>{{ skill.course }}</h5>
      <span class="badge badge-primary badge-pill">{{ skill.rating }}</span>
    </li>
  </ul>
</div>
