<div class="container">
  <div class="row" style="background-color: black; margin-bottom: 50px;">
    <div class="col-sm-12">
      <h3 style="color: white;">HackersPlatform</h3>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;" style="background-color: wheat;">
    <div class="col-sm-6 offset-sm-3">
      <h5 style="margin-left: 40px; margin-bottom: 50px; margin-top: 30px;">
        Who You are ?
      </h5>
      <div style="margin: 50px;">
        <button class="btn btn-outline-primary" (click)="choose(0)">
          Candidate
        </button>
      </div>
      <br />
      <div style="margin-left: 50px; margin-bottom: 20px;">
        <button class="btn btn-outline-primary btn-lg" (click)="choose(1)">
          Admin
        </button>
      </div>
    </div>
  </div>
</div>
